
.searchbody {
    padding: 30px;
    width: 245%;
    height: 100vh;
    overflow-y: overlay;
    flex: 1;
    color: rgb(233, 219, 219);
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(163, 37, 115);
  }
  
  .searchbody::-webkit-scrollbar {
    display: none;
  }
  
  .searchbody__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }
  
  .body__shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .body__icons {
    display: flex;
    align-items: center;
  }
  
  .body__icons > .MuiSvgIcon-root {
    margin-right: 20px;
  }
  
  .body__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
  }
  
  .body__background {
    position: absolute;
    top: 13vh;
    right: 0;
    opacity: 0.4;
    height: 80%;
    width: 80%;
    background-color: black;
  }
  
  .searchbody__songs {
    z-index: 1;
    margin: 20px -30px;
  }
  
  .searchbody__info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(117, 114, 114, 0.5);
  }
  
  .searchbody__infoText {
    flex: 1;
  }
  
  .searchbody__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .searchbody__infoText > p {
    font-size: 14px;
  }

  .body__heart{
    padding: 20px;
  }

