
.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

/* .songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
} */

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: rgb(224, 207, 207);
}

.songRow__album {
  height: 40px;
  width: 40px;
}

.button{
  margin-left: auto;
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  appearance: none;
  padding: 10px;
  border-radius: 99px;
  background-color: #1db954;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.button:hover{
  background-color: green;
}